body,html{
  height:100%;
}

a{
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6{
  margin:0;
}

.img-responsive img{
    max-width:100% !important;
    height:auto;
    display:block;
}

.img-center img{
  margin: 0 auto;
  text-align: center;
}

hr{
  display: block;
  width: 100px;
  margin: 30px auto;
  border-top: 5px solid red;
  border-color: #D45559;
}

button,.button{
  @include transition-property(all);
    @include transition-duration(.2s);
}

#gallery img{
  width:5%;
  min-width:300px;
  padding:10px;
}

.start{
  position: relative;
  padding: 180px 0;
}

#social{
  background-color:#ECF0F1; 
  padding:40px 0;
  a{
    width:84px;
    padding:0 10px;
    height:84px;
    display:inline-block;
  }
}

.overlay{
  position: absolute;
  top:0;
  width:100%;
  height:100%;
  background-color: #181818;
  opacity: .6;
  filter:alpha(opacity=80);
  z-index:2;
}


#contact{
  background: url("../images/diaryIphone.jpg") center center no-repeat;
  background-size:cover;
  padding:40px 0;
}

#header-text{
  display:block; 
  position: relative; 
  z-index:3;
  a.button{
    margin-top:20px;
  }
}
video#bgvid{
  position:fixed;
  top:-100px;
  min-width:100%;
  min-height: 100%;
  height:auto;
  width:auto;  
  z-index:-1;
  background: url('../images/code_top.jpg') center center no-repeat;
  background-size: cover;
}

video{
  display:block;
}

#vid{
  height:450px;
}

#about{
  background-color:#f0f0f0;
  padding:60px 0;
  p{
    font-size:25px;
  line-height:30px;
  }
}

#tweets{
  background-color:#34495E; 
  padding:40px 0;
}

#work{
  background-color: #f0f0f0;
  padding: 40px 0;
  .row{
    padding-bottom: 20px;
  }
}
/*
#logo_name{
  @include animate-mixin(0s , 1s);
}
*/


.nav-top{
  position:absolute;
  top:0;
  width:100%;
  z-index: 4;
  height:120px;
  color:#f0f0f0;
  //background-color:rgba(250,250,250, .8);
}

.nav-left{
    float:left;
    text-align: left;
    #logo{
      padding:20px 0;
      float:left;
    }

    h1#logo-name{
      font-size:35px;
      font-weight: 200;
      line-height: 120px;
      display:inline-block;
      padding-left:25px;
      float:left;

    }
}

.nav-right{
  float:right;
  ul{
    margin:0;
    padding:0;
    text-transform: uppercase;
    li{
      display: inline-block;
      text-decoration: none;
      line-height: 120px;
      text-align: center;
      width:100px;
      a{
        text-decoration: none;
        font-size: 18px;
        color:#f0f0f0;
        width:100px;
        cursor: pointer;
      }


    }
  }
}



.nav-scroll{
  position:fixed !important;
  color:#363636;
  background-color:#f0f0f0;
  height:60px;
  border-bottom: 1px solid #c9c9c9;
  margin:0;
  padding:0;
  .blk-12{
    padding:0;
  }
  .nav-left{
    h1#logo-name{
      font-size: 30px;
      line-height: 60px;
    }
    #logo{
      display:none;
    }
  }
  .nav-right ul li{
    line-height: 60px;
    a{
      font-size: 16px;
      color:#363636;
    }
    a:hover{
      color:#D45559;
    }
  }
}
.tweet-sep{
  position: block;
  height:3px;
  width:520px;
  background-color: #f0f0f0;
  margin: 15px auto;
}

#footer{
  padding:20px 0;
  background-color: #181818;
  color:#c9c9c9;
  p{
    margin:0;
  }
}

.contact-form{
  margin:0 auto;
  input[type="text"],
  input[type="password"],
  input[type="email"],
  textarea,
  select{
    background: rgba(240,240,240,.7);
    border:0;
  }

  textarea{
    width:100%;
  }

  input[type="submit"]{
    width:100%;
  }
}

.top-form{
  min-height: 70px;
}

#email-form, #name-form{
  float:left; 
  width:50%;
  input[type="email"], input[type="text"]{
    width:100%;
  }
}

#email-form{
  padding-right:5px;
}

#menu-icon{
  position:fixed;
  top:0;
  right:0;
  display:none;
  height:24px;
  width:24px;
  margin:18px;
  background-image: url('../images/menu-icon.png');
  cursor: pointer;
}

#name-form{
  padding-left: 5px;
}

.work{
  display:inline-block;
  margin: 0 auto;
}

.mix{
  height:320px;
  width:300px;
  background-color:#000;
  display:inline-block;
}

.mix:after{
  padding: 0 10px;
}

@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  #logo{
    display:none;
  }
  h1,h2,h3,h4,h5{
    font-size:1.5em;
  }
  .nav-top {
    height:60px;
    .nav-right{
      display:none;
    }
    .nav-left{
      float:none;
      margin: 0 auto;
      text-align: center;
      h1#logo-name{
        font-size:25px;
        line-height: 60px;
      }
    }
  }
  .nav-scroll .nav-right{
    float:none;
    clear:both;
    display:none;
    background: #f0f0f0;
    ul{
    display:block;
    li{
      display:block;
      width:100%;
      a{
        width:100%;
      }
    }
    } 

  }
  .nav-scroll #menu-icon{
    display:inline-block;
  }
  .start {
    padding:60px 0;
    video{
      display:none;
    }
  }

}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {}



