form,
fieldset{
  margin-bottom: 20px
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select{
  border: 2px solid #dadada;
  margin: 10px 0;
  outline: none;
  width: 260px;
  font-size: 1em;
  max-width: 100%;
  display: block;
  background: #F0F0F0;
  padding: 15px 20px;
  font: 1em "Open Sans" Helvetica, Arial, sans-serif;
}