/*!CK:1917033271!*//*1406669400,*/

._8u{margin-top:1px}._8o,._8o .img{display:block}._8r{margin-right:5px;margin-top:-1px}._8s{margin-right:8px}._8t{margin-right:10px}

#bootloader_KUbEr { height: 42px; }
.bootloader_KUbEr { display:block !important; }