/*!CK:263489938!*//*1404161480,*/

._52c5 ._5rnz{background-color:#fafbfb;border-top:1px solid #dee0e3;height:24px;padding:0 5px 5px 12px}._52c5 ._5ro0,._52c5 ._5ro0 a{color:#6a7180;line-height:24px}._52c5 ._5ro0 a{font-weight:bold}._52c5 ._52c6{border:0}._52c5._59sw{margin-top:7px}
._55wk{font-size:10px}

#bootloader_1RKdt { height: 42px; }
.bootloader_1RKdt { display:block !important; }