/*!CK:1903619970!*//*1399988311,178134623*/

._36vl{position:absolute;right:11px;top:13px}
._5rnz{background-color:#f7f7f7;border-top:1px solid rgba(0, 0, 0, .08);clear:left;padding:0 5px}._5ro3{margin:3px 0}._5ro4{color:gray;display:table-cell;height:27px;padding:1px}

#bootloader_BCLg2 { height: 42px; }
.bootloader_BCLg2 { display:block !important; }